@inject hgrkapp.DTO.etudiant etudiantdto
@inject hgrkapp.DTO.universite universite
@inject  hgrkapp.DTO.groupe groupe
@inject hgrkapp.DTO.stage stage
@inject hgrkapp.Repository.IServices.IEtudiantServices EtudiantServices
@inject hgrkapp.Repository.IServices.IUniversiteServices UniversiteService
@inject hgrkapp.Repository.IServices.IGroupeServices GroupeService
@inject hgrkapp.Repository.IServices.IStageService StageService
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Enregistrement</h4>
            <p class="card-description">
                Formulaire d'enregistrement
            </p>
            <div class="row">
                <div class="col-md-6">
                    <!-- Nom -->
                    <div class="form-group">
                        <label for="nom">Nom</label>
                        <input type="text" class="form-control" @bind="etudiantdto.Nom" placeholder="Entrez le nom">
                    </div>

                    <!-- Postnom -->
                    <div class="form-group">
                        <label for="postnom">Postnom</label>
                        <input type="text" class="form-control" @bind="etudiantdto.Postnom" placeholder="Entrez le postnom">
                    </div>

                    <!-- Prénom -->
                    <div class="form-group">
                        <label for="prenom">Prénom</label>
                        <input type="text" class="form-control" @bind="etudiantdto.Prenom" placeholder="Entrez le prénom">
                    </div>

                    <!-- Date de Naissance -->
                    <div class="form-group">
                        <label for="dateNaissance">Date de Naissance</label>
                        <input type="date" class="form-control" @bind="etudiantdto.DateNaissance">
                    </div>

                    <!-- Sexe -->
                    <div class="form-group">
                        <label>Sexe</label>
                        <select class="form-select" @bind="etudiantdto.Sexe">
                            <option value="">--Sélectionner--</option>
                            <option value="M">Masculin</option>
                            <option value="F">Féminin</option>
                        </select>
                    </div>
                    <!-- Apaye -->
                    <div class="form-group">
                        <label>Apaye</label>
                        <select class="form-select" @bind="etudiantdto.Apaye">
                            <option value="">--Sélectionner--</option>
                            <option value="true">Oui</option>
                            <option value="false">Non</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                  

                    <!-- Photo URL -->
                    <div class="form-group">
                        <label for="photoUrl">Photo URL</label>
                        <input type="file" accept="image/*" class="form-control" @bind="etudiantdto.PhotoUrl" placeholder="URL de la photo">
                    </div>

                    <!-- ID Université -->
                    <div class="form-group">
                        <label for="idUniversite">ID Université</label>
                        <select class="form-select" @bind="etudiantdto.IdUniversite">
                            <option value="">--Sélectionner--</option>
                            @foreach (var data in universites)
                            {
                                <option value="@data.Id">@data.Nom</option>
                            }

                        </select>
                    </div>

                    <!-- ID Groupe -->
                    <div class="form-group">
                        <label for="idGroupe">ID Groupe</label>

                        <select class="form-select" @bind="etudiantdto.IdGroupe">
                            <option value="">--Sélectionner--</option>
                            @foreach (var data in groupes)
                            {
                                <option value="@data.Id">@data.LabelGp</option>
                            }

                        </select>

                 
                    </div>

                    <!-- ID Stage -->
                    <div class="form-group">
                        <label for="idStage">ID Stage</label>
                        <select class="form-select" @bind="etudiantdto.IdStage">
                            <option value="">--Sélectionner--</option>
                            @foreach (var data in stages)
                            {

                                <option value="@data.Id">@data.Id</option>
                            }

                        </select>
                     
                    </div>

                    <!-- Autres -->
                    <div class="form-group">
                        <label for="autres">Autres informations</label>
                        <textarea class="form-control" @bind="etudiantdto.Autres" rows="3"></textarea>
                    </div>
                </div>
            </div>
           
            <button type="submit" class="btn btn-primary mr-2" @onclick="OnPostData">Soumettre</button>
            <button class="btn btn-light">Annuler</button>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<bool> OnChange { get; set; }
    private List<hgrkapp.DTO.universite> universites = new List<hgrkapp.DTO.universite>();
    private List<hgrkapp.DTO.groupe> groupes = new List<DTO.groupe>();
    private List<hgrkapp.DTO.stage> stages = new List<DTO.stage>();
    protected override async Task OnInitializedAsync()
    {
        universites = await UniversiteService.GetUniversite();
        groupes = await GroupeService.GetGroupes();
        stages = await StageService.GetAllStage();
    }

    private async void OnPostData()
    {
        var data = await EtudiantServices.CreateEtudiantAsync(etudiantdto);
        await OnChange.InvokeAsync(true);
    }
}
